h1 {
	color:white;
	background-color:#1C1C1C;
	width: 100px;
	text-align: center;
}
h1 a{	
	text-decoration: none;
	color: white;
}
#bandepunch{
	background-color: #1C1C1C;
	opacity: 0.8;
	margin-left: 10%;
	margin-right: 10%;
}
#punch{
	text-align: center;
	color: white;
	font-size: 35px;
	font-style: italic;
	margin-bottom: 20px;
	text-decoration: none;
}


#fond{ 
	margin-left:10%;
    margin-right:10%;
    background-color:#D8D8D8;
	height: 2000px;
}

	#fond #actu{
		color: black;
		font-size: 50px;
		padding : 50px;
		padding-top: 15px;
		margin-top: 30px;
		height: 20px;
	}

	#fond #bandeSousActu{
		height: 10px;
		margin-left: 20px;
		margin-right: 20px;
		margin-top: 10px;
		background-color: #FE642E;

	}

#bande {
	margin-left:10%;
    margin-right:10%;
    background-color:#1C1C1C;
	padding: 30px;
	padding-left: 110px;
	font-size: 25px;


}

	#annee80 a{
		color: white;
		text-decoration: none;
		font-family: Tahoma;
		border-right: 1px solid #FE642E;

	}
	#annee80 a:hover {
		color: #E97215;
		text-decoration: underline;
	}

	#annee90 a{
		color: white;
		padding-left: 250px;
		font-size: 25px;
		text-decoration: none;
		font-family: Tahoma;
		border-right: 1px solid #FE642E;

	}
	#annee90 a:hover{
		color: #E97215;
		text-decoration: underline;

	}
	#annee2000 a{
		color: white;
		padding-left: 250px;
		font-size: 25px;
		text-decoration: none;
		font-family: Tahoma;
		border-right: 1px solid #FE642E;

	}
	#annee2000 a:hover{
		color: #E97215;
		text-decoration: underline;
	}
	#annee2010 a{
		color: white;
		padding-left: 250px;
		font-size: 25px; 
		text-decoration: none;
		font-family: Tahoma;
		border-right: 1px solid #FE642E;
		padding-right: 10px;
	}
	#annee2010 a:hover{
		color: #E97215;
		text-decoration: underline;

	}


#bandeSeparation{
	background-color: #FE642E;
	height: 1px;
	margin-right: 130px;
	margin-left: 130px;
	margin-top: 40px;
}


#bandeSeparation2{
	background-color: #FE642E;
	height: 1px;
	margin-right: 130px;
	margin-left: 130px;
	margin-top: 60px;
}

#src{
	margin-top: 10px;
	text-align: center;
}
#src a{
	text-decoration: none;
	color: #FE642E;
}


body{
background-image:url("image/fond.jpg");

}

h3{
	margin-left: 20px;
	font-size: 40px;
	margin-top: 45px;
	font-family: Impact;
	text-align: center;
}

#img2000{
	text-align: center;
	margin-top: 30px;
}

#txt1{
	display: inline-block;
	width: 500px;
	text-align: justify;
	margin-left: 85px;
	margin-top: 40px;
	font-family: Georgia;
	vertical-align: top;
}

#txt2{
	display: inline-block;
	width: 500px;
	text-align: justify;
	margin-left: 30px;
	margin-top: 40px;
	font-family: Georgia;
	vertical-align: top;
}

#phrase{
	text-align: center;
	font-family: Georgia;
	font-size: 18px;
}

h4{
	margin-left: 20px;
	font-size: 40px;
	margin-top: 30px;
	font-family: Impact;
	text-align: center;
}

#titres{
	display: flex;
	justify-content: center;
}
#titreUs{
	padding-right: 300px;
	font-size: 25px;
	font-family: Tahoma;
	border-right: 1px solid #FE642E;
}
#titreFr{
	padding-left: 300px;
	font-size: 25px;
	font-family: Tahoma;
}
li{
	margin-top: 150px;
	font-family: Tahoma;
	font-size: 20px;
}
#usetfr{
	display: flex;
}
#us{
	display: flex;
}
#rappeurUs{
	margin-left: 20px;
}
#clipUs{
	margin-top: 110px;
	margin-left: 200px;
	z-index: 3;
	position: relative;
}
#clipFr{
	margin-top: 110px;
	margin-left: 200px;
	position: relative;
	z-index: 3;
	
}
#fr{
	display: flex;
	margin-left: 50px;
}

#icon{
	z-index: 4;
	position: absolute;
	left: 5px;
	bottom: 630px;
	font-size: 30px;
	color: #1C1C1C ;
}
#icon:hover{
	color: red;
}


