h1 {
	color:white;
	background-color:#1C1C1C;
	width: 100px;
	text-align: center;
}
h1 a{	
	text-decoration: none;
	color: white;
}

#bandepunch{
	background-color: #1C1C1C;
	opacity: 0.8;
	margin-left: 10%;
	margin-right: 10%;
}
#punch{
	text-align: center;
	color: white;
	font-size: 35px;
	font-style: italic;
	margin-bottom: 20px;
	text-decoration: none;
}
#fond{ 
	margin-left:10%;
    margin-right:10%;
    background-color:#D8D8D8;
	height: 1300px;
	margin-bottom: 50px;
}

	#fond #actu{
		color: black;
		font-size: 50px;
		padding : 50px;
		padding-top: 15px;
		margin-top: 30px;
		height: 20px;
	}

	#fond #bandeSousActu{
		height: 10px;
		margin-left: 20px;
		margin-right: 20px;
		margin-top: 10px;
		background-color: #FE642E;

	}

#bande {
	margin-left:10%;
    margin-right:10%;
    background-color:#1C1C1C;
	padding: 30px;
	padding-left: 110px;
	font-size: 25px;


}

	#annee80 a{
		color: white;
		text-decoration: none;
		font-family: Tahoma;
		border-right: 1px solid #FE642E;
	}
	#annee80 a:hover {
		color: #E97215;
		text-decoration: underline;
	}

	#annee90 a{
		color: white;
		padding-left: 250px;
		font-size: 25px;
		text-decoration: none;
		font-family: Tahoma;
		border-right: 1px solid #FE642E;

	}
	#annee90 a:hover{
		color: #E97215;
		text-decoration: underline;

	}
	#annee2000 a{
		color: white;
		padding-left: 250px;
		font-size: 25px;
		text-decoration: none;		
		font-family: Tahoma;
		border-right: 1px solid #FE642E;

	}
	#annee2000 a:hover{
		color: #E97215;
		text-decoration: underline;
	}
	#annee2010 a{
		color: white;
		padding-left: 250px;
		font-size: 25px; 
		text-decoration: none;
		font-family: Tahoma;
		border-right: 1px solid #FE642E;
		padding-right: 10px;

	}
	#annee2010 a:hover{
		color: #E97215;
		text-decoration: underline;

	}

h3{
	margin-left: 20px;
	font-size: 30px;
	margin-top: 45px;
	font-family: Impact;
	text-align: center;
}

#imgRoméo{
	float: left;
	margin-left: 130px;
	z-index: 3;
	position: relative;
	vertical-align: top;
}
#icon{
	z-index: 4;
	position: absolute;
	left: 5px;
	bottom: 5px;
}

#txtRomeo{
	float: right;
	width:60%;
	text-align: justify;
	margin-right: 60px;
	margin-top: 50px;
	font-size: 20px;
}	

#bandeSeparation{
	background-color: #FE642E;
	height: 1px;
	margin-right: 130px;
	margin-left: 130px;
	margin-top: 400px;

}

h4{
	margin-left: 20px;
	font-size: 30px;
	margin-top: 45px;
	font-family: Impact;
	text-align: center;
}

#imgTueur{
	position: relative;
	z-index: 3;
	float: right;
	margin-right: 40px;

}

#iconRE{
	position: absolute;
	z-index: 4;
	left: 5px;
	bottom: 10px;
	float: right;

}

#txtTueur{
	float: left;
	text-align: justify;
	width: 30%;
	margin-left: 80px;
	font-size: 20px;
	margin-top: 50px;
}

#bandeSeparation2{
	background-color: #FE642E;
	height: 1px;
	margin-right: 130px;
	margin-left: 130px;
	margin-top: 460px;
}

#src{
	margin-top: 10px;
	text-align: center;
}
#src a{
	text-decoration: none;
	color: #FE642E;
}


body{
background-image:url("image/fond.jpg");

}

