@keyframes masuperanimation {

    0% {

        display:none;

    }

    100% {

        display:yes;

    }

}
.Artiste {
    display: flex;
    justify-content: space-between;
	padding: 0.5em;
    border: 2px solid black;
    border-radius: 10px;
    margin: 0.5em;

}
h1{
	color:white;
	background-color:black;
	width:15%;
	text-align: center;
}
#titre1 {
	color: black;
	text-align:left;
	font-family:Impact,sans-serif,Times new roman;;
	font-size: 30px;
	padding : 2%;
	padding-top: 20px;

}
#titre2 {
	color: black;
	text-align:left;
	font-family:Impact,sans-serif,Times new roman;
	font-size: 22px;
	padding : 50px;
	padding-top: 15px;
	padding-bottom:15px;
	margin-top: 2%;

}
.sstitre{
	padding-left:150px;
}
.bandeSousTitre{
		height: 7px;
		margin: 10px;
		margin-left: 20px;
		margin-right: 20px;
		margin-top: 1%;
		background-color: #1C1C1C;
}
.bandeSeparation{
		height: 1px;
		margin: 20px;
		margin-top: 10px;
		background-color: #1C1C1C;
}


#fond{
	margin-left:10%;
	margin-right:10%;
	background-color:#D8D8D8;
	height: 3000px;
}




.backgroundstory{
	border:4px solid #2E2E2E;
	border-radius:20px;
	margin:2%;
}
.story{
	font-size:1em;
	font-family:sans-serif,Times new roman;
	text-align: justify;
	padding-left:2%;
	padding-right:2%;
	padding-bottom:1%;
	margin-right:4%;
	margin-left:4%;
	
}
#bande {
	margin-left:10%;
   	margin-right:10%;
    	background-color:#1C1C1C;
	padding: 30px;
	padding-left: 100px;
	font-size: 25px;
}
	#bande #annee80{
		color: white
	}

	#bande #annee90{
		color: white;
		padding-left: 250px;
		font-size: 25px;
	}
	#bande #annee2000{
		color: white;
		padding-left: 250px;
		font-size: 25px;
	}
	#bande #annee2010{
		color: white;
		padding-left: 250px;
		font-size: 25px;
	}
.Artiste {
    display: flex;
    justify-content: space-between;
	padding: 0.5em;
    border: 2px solid black;
    border-radius: 10px;
    margin: 0.5em;

}
#NomGroupeA{
	padding:1%;
	padding-top:5%;
	font-size: 25px;
	font-family:Impact,sans-serif,Times new roman;
	padding-left: 5%;
}
#NomGroupeB{
	padding:1%;
	padding-top:5%;
	font-size: 25px;
	font-family:Impact,sans-serif,Times new roman;
	padding-left: 4.5%;
}

#lienA{
	padding-top: 10%;
	padding-left: 20.3%;
}
#lienB{
	padding-top: 10%;
	padding-left: 15.8%;
}

#descriptionA{
	padding-top: 3%;
	padding-bottom: 1%;
	padding-left: 20%;
	font-size: 1.1em;
	
}
#descriptionB{
	padding-top: 5%;
	padding-bottom: 1%;
	padding-left: 18%;
	font-size: 1.1em;
	
}
a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}
body{
background-image:url(http://ekladata.com/YyI4ofxKgWM2peEcGwQgK9pqoIQ.jpg);
}
